body{
  background-color: rgb(249, 249, 249);
}
div.main-container {
  max-width: 1620px !important;
  margin: 0 auto;
}

.scroll { 
  overflow-y: scroll; 
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
} 
h1 {
  font-size: 2.5em;
  font-weight: bold;
  max-width: 880px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.75em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
}

h5 {
  font-size: 1.25em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}
code {
  background-color: rgb(215, 218, 228);
  border-radius: 5px ;
}